#connection.row2 {
  grid-template-rows: 40px 1fr;
  row-gap: 50px;
}

#connection #navigation-bar {
  grid-area: row1;
}

#connection .row3col3 {
  grid-area: row2;
  grid-template-columns: 1fr 350px 1fr;
  grid-template-rows: 1.7em 1fr 45px;
  row-gap: 20px;
}

#connection-header {
  grid-area: row1-col2;
  justify-self: center;
}

#connection-header span {
  font-size: 1.5em;
}

#connection-header img {
  align-self: center;
  height: 60px;
  width: 67px;
}

#connection-form {
  border: 1px solid #000000;
  font-size: 1.2em;
  grid-area: row2-col2;
  padding: 15px;
}

#loader {
  grid-area: row3-col2;
  justify-self: center;
}
