#overview.row2col2 {
  grid-template-columns: 1fr 100px;
  row-gap: 15px;
}

#overview #navigation-bar {
  grid-column: row1-col1 / row1-col2;
  grid-row: row1-col1 / row1-col2;
}

#overview-exit {
  grid-area: row2-col2;
  position: relative;
}

#overview-exit img {
  height: 60px;
  position: absolute;
  right: 20px;
  top: 2px;
}

#overview-device,
#overview-empty-device {
  grid-area: row2-col1;
}

#overview-device.row2 {
  row-gap: 10px;
  justify-self: center;
}

#overview-device #device-header {
  grid-area: row1;
}

#overview-message {
  grid-area: row2;
}

#overview-message #message-view {
  grid-area: col2;
  padding-right: 5px;
}

#overview-message.col2 {
  column-gap: 15px;
  justify-items: center;
}

#overview-messages {
  background-color: #00000009;
  border: 1px solid black;
  grid-area: col1;
  padding: 3px 15px 3px 7px;
}

#overview-messages span {
  font-size: 1.5em;
  font-weight: bold;
}

#overview-messages label {
  display: block;
  font-size: 1.3em;
}

#overview-empty-device {
  justify-items: center;
}

#overview-empty-device span:nth-of-type(1) {
  font-size: 3.5em;
  font-weight: bold;
  grid-area: row1;
}

#overview-empty-device span:nth-of-type(2) {
  font-size: 1.5em;
  grid-area: row2;
}
