.col2 {
  display: grid;
  grid-template-areas:
    "col1 col2";
}

.row2 {
  display: grid;
  grid-template-areas:
    "row1"
    "row2";
}

.row3 {
  display: grid;
  grid-template-areas:
      "row1"
      "row2"
      "row3";
}

.row3col3 {
  display: grid;
  grid-template-areas:
    ". row1-col2 ."
    ". row2-col2 ."
    ". row3-col2 .";
}

.row2col2 {
  display: grid;
  grid-template-areas:
    "row1-col1 row1-col2"
    "row2-col1 row2-col2";
}

.flex-row {
  display: flex;
}

.inline-row {
  display: inline;
}

.invalid > * {
  border: 1px solid red !important;
}
