#connection-form label {
  display: block;
}

#connection-form span {
  font-size: 0.8em;
  color: red;
}

#port-field {
  grid-area: row1;
  margin-bottom: 20px;
}

#host-field {
  grid-area: row2;
  margin-bottom: 60px;
}

#port-field input, #host-field input {
  border: 1px solid black;
  padding: 5px;
  margin-top: 5px;
}

#connection-button {
  grid-area: row3;
  justify-self: center;
}

#connection-button span {
  display: block;
  margin-bottom: 3px;
}
