#device-header {
  background-color: #00000009;
  border: 1px solid black;
  height: 5px;
}

#device-header img {
  height: 40px;
  margin-right: 7px;
  width: 50px;
}

#device-header span {
  font-size: 1.7em;
  font-weight: bold;
}

#device-header.flex-row {
  align-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 23px 10px 23px 5px;
  white-space: nowrap;
}

#message-view {
  background-color: #00000009;
  border: 1px solid black;
  display: block;
  padding: 3px 0 15px 7px;
}

#message-view > span,
#display-selection > span {
  font-size: 1.5em;
  font-weight: bold;
}

#message-view hr {
  margin-right: 7px;
  margin-top: 1px;
}

#header td + td {
  padding-left: 20px;
}

#simple-header,
#header,
#display-selection {
  margin: 10px 0 5px 0;
}

#message-view #bytes-table {
  margin: 4px;
  overflow: scroll;
  width: 97%;
}

#display-selection label {
  font-size: 1.3em;
  padding-right: 15px;
}

#message-payload span {
  white-space: pre-wrap;
}
